{% if sidebar.articles.any %}
	<div class="panel-secondary-heading">Последние статьи</div>
	<div class="panel panel-secondary">
		<div class="panel-body linkblock">
			{% for a in sidebar.articles %}
				<div class="icon-{{ a.game.result_alias }}">
					<a title="[{{ a.game.name }}] {{ a.title }}" href="{{ a.url }}">{{ a.name_ru }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
