{% extends 'main/layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/local_macros.twig' as lm %}

{% block content %}
	<div class="panel panel-primary comic">
		{% set breadcrumbs = [
			{ 'url': path_for('main.comics'), 'text': comics_title },
			{ 'url': path_for('main.comics.series', { 'alias': series.alias }), 'text': series.name_ru }
		] %}
		{{ lm.panel_header(_context, series.name_ru ~ ' ' ~ comic.number_str, {
			'subtitle': series.name_en ?? comic.name_en,
			'bc_no_game': true,
			'bc_title': 'Выпуск ' ~ comic.number_str
		}) }}
	  	<div class="panel-body">
			{% if comic.issued_ui %}
	  			<p><b>Дата выхода:</b> {{ comic.issued_ui|raw }}</p>
			{% endif %}
			{% if comic.description %}
	  			<p>{{ comic.description|raw }}</p>
			{% endif %}
			<div class="flex-wrapper comics-issue">
				{% for p in pages %}
					<div class="flex-item flex-item-shaded overlay-wrapper comic-image">
						<a href="{{ p.page_url }}" title="{{ p.number_str }}">
							<img src="{{ p.thumb }}" class="card-image" />
							<span class="overlay">{{ p.number_str }}</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	    {% include 'main/comics/comic_footer.twig' %}
	</div>
  	<div class="gallery-picture-nav pagination-flex">
		{% if comic.prev %}
			<a href="{{ comic.prev.page_url }}" title="Назад: Выпуск {{ comic.prev.number_str }}" class="btn btn-default btn-lg">
				{{ gm.gi('chevron-left') }}
				Выпуск
				<span class="hidden-xs">{{ comic.prev.number_str }}</span>
				<span class="visible-xs-inline">#{{ comic.prev.number }}</span>
			</a>
		{% endif %}
		{% if comic.next %}
			<a href="{{ comic.next.page_url }}" title="Вперед: Выпуск {{ comic.next.number_str }}" class="btn btn-default btn-lg">
				Выпуск
				<span class="hidden-xs">{{ comic.next.number_str }}</span>
				<span class="visible-xs-inline">#{{ comic.next.number }}</span>
				{{ gm.gi('chevron-right') }}
			</a>
		{% endif %}
	</div>
{% endblock %}
