{% extends 'main/layout.twig' %}

{% import 'main/local_macros.twig' as lm %}

{% block content %}
	<div class="panel panel-primary">
		{% set breadcrumbs = [
			{ 'url': path_for('main.comics'), 'text': comics_title }
		] %}
		{{ lm.panel_header(_context, series.name_ru, {
			'subtitle': series.name_en,
			'bc_no_game': true
		}) }}
	  	<div class="panel-body">
			{% if series.publisher %}
	  			<p><b>Издательство:</b> <a href="{{ series.publisher.website }}">{{ series.publisher.name }}</a></p>
			{% endif %}
			{% if series.description %}
	  			<p>{{ series.description|raw }}</p>
			{% endif %}
			{% if comics %}
				<div class="flex-wrapper comics">
					{% for c in comics %}
						<div class="flex-item flex-item-shaded overlay-wrapper comic-image">
							<a href="{{ c.page_url }}" title="Выпуск {{ c.number_str }}">
								<img src="{{ c.cover_url }}" class="card-image" />
								<span class="overlay overlay-full">Выпуск {{ c.number_str }}</span>
							</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}
	    </div>
	</div>
{% endblock %}
