{% extends 'main/layout.twig' %}

{% import 'main/local_macros.twig' as lm %}

{% if page.prev %}
    {% set prev_comment %}Страница {{ page.prev.number_str }}{% endset %}
{% endif %}

{% if page.next %}
    {% set next_comment %}Страница {{ page.next.number_str }}{% endset %}
{% endif %}

{% block content %}
	<div class="panel panel-primary">
		{% set breadcrumbs = [
			{ 'url': path_for('main.comics'), 'text': comics_title },
	  		{ 'url': path_for('main.comics.standalone', { 'alias': comic.alias }), 'text': comic.name_ru }
		] %}
		{{ lm.panel_header(_context, comic.name_ru, {
			'subtitle': comic.name_en,
			'bc_title': 'Страница ' ~ page.number_str
		}) }}
	  	<div class="panel-body gallery-picture">
	  		<div class="fs-picture{% if fullscreen %} fullscreen{% endif %}" id="picture">
	  			{#% if page.next %}<a href="{{ page.next.page_url }}" title="Вперед: Страница {{ page.next.number_str }}">{% endif %#}
	  				<img src="{{ page.url }}" class="center img-responsive swipable" />
	  			{#% if page.next %}</a>{% endif %#}
	  			
	  			{% include 'components/fs_picture_buttons.twig' with {
	  			    'prev': page.prev,
	  			    'next': page.next,
	  			    'prev_comment': prev_comment,
	  			    'next_comment': next_comment
	  			} only %}
	  		</div>
	   	</div>
	</div>
  	<div class="gallery-picture-nav pagination-flex">
		{% if page.prev %}
			<a href="{{ page.prev.page_url }}" title="Назад: {{ prev_comment }}" class="btn btn-default btn-lg">
			    {% include 'components/prev.twig' %}
				<span class="hidden-xs">Страница</span>
				<span class="visible-xs-inline">Стр.</span>
				{{ page.prev.number_str }}
			</a>
		{% endif %}
		{% if page.next %}
			<a href="{{ page.next.page_url }}" title="Вперед: {{ next_comment }}" class="btn btn-default btn-lg">
				<span class="hidden-xs">Страница</span>
				<span class="visible-xs-inline">Стр.</span>
				{{ page.next.number_str }}
			    {% include 'components/next.twig' %}
			</a>
		{% endif %}
	</div>
{% endblock %}

{% set more_angular %}
    {% include 'components/fs_picture_angular.twig' %}
{% endset %}
