{% import 'macros.twig' as gm %}

<div class="panel-body">
    <p ng-cloak><b>Начало:</b> {{ gm.moment_smart(event.start) }}{% if not event.started %} ({{ gm.moment_from_now(event.start.iso) }}){% endif %}</p>

    {% if event.end or event.unknown_end %}
        <p ng-cloak><b>Конец:</b> {% if event.end %}{{ gm.moment_smart(event.end) }}{% endif %}{% if event.unknown_end %}неизвестно{% endif %}</p>
    {% endif %}

    <p><b>Тип события:</b> {{ event.type.name }}</p>
    
    {% if event.region %}
        <p><b>Место проведения:</b> {{ event.region.display_name }}</p>
    {% endif %}
    
    {% if event.address %}
        <p><b>Адрес:</b> {{ event.address }}</p>
    {% endif %}
    
    {% if event.website %}
        <p class="br-all"><a href="{{ event.website }}">{{ event.website }}</a></p>
    {% endif %}
</div>

{% include 'components/news_text.twig' with { 'news': event, 'full': full } only %}
{% include 'main/news/footer.twig' with { 'news': event } only %}
