{% extends 'main/layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% block content %}
	<div class="panel panel-primary">
		{{ lm.panel_header(_context, article.name_ru, {
			'subtitle': not article.hideeng ? article.name_en,
			'buttons': [ m.edit_button('articles', article) ],
			'published': article.published
		}) }}
		{% if article.sub_articles %}
		  	<div class="panel-body sub-articles">
		  		{% for link in article.sub_articles %}
		  			<a class="label label-default" title="{{ link.title_en }}" href="{{ link.url }}">{{ link.title }}</a>
		  		{% endfor %}
			</div>
		{% endif %}
		{% if article.contents %}
			<div class="panel-body contents">
  				<div class="contents-header">Содержание:</div>
  				<div class="contents-body">
  					{% for link in article.contents %}
  						{{ link|raw }}
  					{% endfor %}
  				</div>
			</div>
		{% endif %}
	  	<div class="panel-body article">
	    	{{ article.text|raw }}
	    </div>
	    <div class="panel-footer">
	    	{% if article.author %}
	    		<div class="glyphicon-block" title="Автор">
	    			{{ gm.gi('user') }}
	    			{% if article.author.member_url %}
	    				<a href="{{ article.author.member_url }}">{{ article.author.name }}</a>
	    			{% else %}
	    				<b>{{ article.author.name }}</b>
	    			{% endif %}
	    		</div>
	    	{% endif %}
	    	<div class="glyphicon-block" title="Дата публикации">
	    		{{ gm.gi('time') }}
	    		{% if article.published %}
	    			{{ article.published_at|raw }}
	    		{% else %}
	    			Не опубликована!
	    		{% endif %}
	    	</div>
	    	{% if article.editor %}
	    		<div class="glyphicon-block" title="Редактор">
	    			{{ gm.gi('pencil') }}
	    			{% if article.editor.member_url %}
	    				<a href="{{ article.editor.member_url }}">{{ article.editor.name }}</a>
	    			{% else %}
	    				<b>{{ article.editor.name }}</b>
	    			{% endif %}
	    		</div>
	    	{% endif %}
	    	{% if article.updated_at %}
	    		<div class="glyphicon-block" title="Дата редакции">
	    			{{ gm.gi('time') }}
	    			{{ article.updated_at|raw }}
	    		</div>
	    	{% endif %}
	    	{% if article.origin %}
	    		<div class="glyphicon-block" title="Источник">
	    			{{ gm.gi('copyright-mark') }}
	    			<a href="{{ article.origin }}">Источник</a>
	    		</div>
	    	{% endif %}
	    </div>
	</div>
{% endblock %}
