{% extends 'main/layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% if can('articles', 'create') %}
    {% set sidebar_buttons = [ m.create_button('articles', 'Написать статью') ] %}
{% endif %}

{% block content %}
    <div class="panel panel-primary">
        {{ lm.panel_header(_context, article.name_ru, {
            'subtitle': not article.hideeng ? article.name_en,
            'buttons': [ m.edit_button(article) ],
            'published': article.published
        }) }}

        {% if article.sub_articles.any %}
            <div class="panel-body sub-articles">
                {% for sa in article.sub_articles %}
                    <a class="label label-default" title="{{ sa.title_en }}" href="{{ sa.url }}">{{ sa.name_ru }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if article.parsed.contents.any %}
            {% include 'components/contents.twig' with { 'items': article.parsed.contents } only %}
        {% endif %}

        <div class="panel-body article">
            {{ article.full_text|raw }}
        </div>

        <div class="panel-footer">
            {% include 'components/published_at.twig' with { 'entity': article } only %}
            {% include 'components/creator.twig' with { 'entity': article } only %}
            {% if article.origin %}
                <div class="glyphicon-block">
                    <i class="far fa-copyright"></i>
                    <a href="{{ article.origin }}">Источник</a>
                </div>
            {% endif %}
            {% include 'components/tags.twig' with { 'tags': article.tag_links } only %}
        </div>
    </div>
{% endblock %}
