{% extends 'main/layout.twig' %}

{% import 'main/local_macros.twig' as lm %}

{% if can('events', 'create') %}
    {% set sidebar_buttons = [ m.create_button('events', 'Добавить событие') ] %}
{% endif %}

{% block content %}
    <div class="panel panel-primary">
        {{ lm.panel_header(_context) }}
        {% if events|length > 0 %}
            <div class="panel-body body-nopad">
                <ul class="nav nav-tabs" role="tablist">
                    {% for group in events if group.items|length > 0 %}
                        <li role="presentation"{% if loop.first %} class="active"{% endif %}><a href="#{{ group.id }}" aria-controls="{{ group.label }}" role="tab" data-toggle="tab" title="{{ group.label }}">{{ group.label }}</a></li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for group in events if group.items|length > 0 %}
                        <div role="tabpanel" class="tab-pane fade{% if loop.first %} in active{% endif %} linkblock-big" id="{{ group.id }}">
                            {% include 'components/events.twig' with { 'events': group.items } only %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="panel-body">
                По заданным параметрам события не найдены.
            </div>
        {% endif %}
    </div>
{% endblock %}
