{% import 'macros.twig' as gm %}

<div class="panel-body article news">
	{{ news_item.text|raw }}
</div>
<div class="panel-footer">
	<div class="glyphicon-block" title="Дата публикации">
		<i class="far fa-clock"></i>
		{% if news_item.published %}
			{{ news_item.start_date|raw }}
		{% else %}
			Не опубликована!
		{% endif %}
	</div>
	<div class="glyphicon-block" title="Автор">
		<i class="fas fa-user-circle"></i>
		{% if news_item.starter_url %}
			<b><a href="{{ news_item.starter_url }}">{{ news_item.starter_name }}</a></b>
		{% else %}
			<b>{{ news_item.starter_name }}</b>
		{% endif %}
	</div>
	{% if news_item.forum_url %}
		<div class="glyphicon-block">
			<i class="fas fa-comments"></i>
			<a href="{{ news_item.forum_url }}" title="Комментарии на форуме">{{ news_item.posts }}</a>
		</div>
	{% endif %}
    {% include 'components/tags.twig' with { 'tags': news_item.tags } only %}
</div>
