{% extends 'main/layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% block content %}
	<div class="panel panel-primary">
		{% set breadcrumbs = [
			{ 'url': path_for('main.gallery'), 'text': gallery_title },
			{ 'url': path_for('main.gallery.author', { 'alias': author.alias }), 'text': author.display_name }
		] %}
		{{ lm.panel_header(_context, title, {
			'buttons': [ m.edit_button('gallery_pictures', picture, { 'id': author.id }) ]
		}) }}
	  	<div class="panel-body gallery-picture">
	  		<div class="fs-picture{% if fullscreen %} fullscreen{% endif %}" id="picture">
	  			{#% if picture.next %}<a href="{{ picture.next.page_url }}" title="Вперед: {{ picture.next.comment }}">{% endif %#}
	  				<img src="{{ picture.url }}" class="center img-responsive swipable" />
	  			{#% if picture.next %}</a>{% endif %#}
	  			
	  			{% include 'components/fs_picture_buttons.twig' with {
	  			    'prev': picture.prev,
	  			    'next': picture.next,
	  			    'prev_comment': picture.prev.comment,
	  			    'next_comment': picture.next.comment
	  			} only %}
	  		</div>
	  		{% if picture.parsed_description %}
	  			<div class="gallery-picture-description">{{ picture.parsed_description|raw }}</div>
	  		{% endif %}
	   	</div>
	    <div class="panel-footer">
            {% include 'components/published_at.twig' with { 'entity': picture } only %}
	    	{% if picture.official %}
	    		<div class="glyphicon-block">
	    			<i class="far fa-copyright"></i>
	    			Официальный арт
	    		</div>
	    	{% endif %}
            {% include 'components/tags.twig' with { 'tags': picture.tag_links } only %}
	    </div>
	</div>
  	<div class="pagination-flex">
  		{% if picture.prev %}
  			<a href="{{ picture.prev.page_url }}" title="Назад: {{ picture.prev.comment }}" class="btn btn-default btn-lg">
			    {% include 'components/prev.twig' %}
  				<span class="hidden-xs">{{ picture.prev.comment }}</span>
  			</a>
  		{% endif %}
  		<a href="{{ picture.url }}" download="{{ author.display_name }} - {{ picture.comment }} ({{ site_name }}).{{ picture.ext }}" class="btn btn-default btn-lg">
  			{{ gm.gi('save', 'Скачать') }}
  			<span class="hidden-xs">Скачать</span>
  		</a>
  		{% if picture.next %}
  			<a href="{{ picture.next.page_url }}" title="Вперед: {{ picture.next.comment }}" class="btn btn-default btn-lg">
  				<span class="hidden-xs">{{ picture.next.comment }}</span>
			    {% include 'components/next.twig' %}
  			</a>
  		{% endif %}
	</div>
{% endblock %}

{% set more_angular %}
    {% include 'components/fs_picture_angular.twig' %}
{% endset %}
