{% extends 'main/layout.twig' %}

{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% set grid_id = 'grid-autoloaded' %}

{% block content %}
	<div class="panel panel-primary">
		{{ lm.panel_header(_context) }}
		
		{% if parts|length > 0 %}
			<div class="panel-body body-nopad">
				<ul class="nav nav-tabs" role="tablist">
			  		{% for part in parts %}
			  			{{ m.tab(part.id, part.label, loop.first) }}
					{% endfor %}
				</ul>
	
				<div class="tab-content">
					{% for part in parts %}
						<div role="tabpanel" class="tab-pane fade{% if loop.first %} in active{% endif %}{% if part.component != 'gallery_pictures' and part.component != 'comics' and part.component != 'streams' %} linkblock-big{% endif %}" id="{{ part.id }}">
							{% if part.component == 'gallery_pictures' %}
			                    {% include 'components/gallery_grid.twig' with {
			                        'grid_id': grid_id,
			                        'pictures': part.values,
			                        'show_author': true
                                } only %}
							{% elseif part.component == 'streams' %}
	        				    {% for part in part.values %}
                                    {% include 'components/streams.twig' with { 'streams': part } only %}
                                {% endfor %}
							{% elseif part.component == 'comics' %}
			                    {% include 'components/comics.twig' with { 'comics': part.values } only %}
							{% elseif part.component == 'events' %}
			                    {% include 'components/events.twig' with { 'events': part.values } only %}
							{% elseif part.component == 'news' %}
			                    {% include 'components/news.twig' with { 'news': part.values } only %}
							{% elseif part.component == 'articles' %}
			                    {% include 'components/articles.twig' with { 'articles': part.values } only %}
							{% else %}
								{% for v in part.values %}
									<div class="icon-lg icon-{{ v.game.result_alias }}-lg">
									    {% set v_title = v.display_title ?? v.title %}
										<div>
											<a title="[{{ v.game.name }}] {{ v_title|raw }}" href="{{ v.url }}">{{ v_title|raw }}</a>
										</div>
										<div>
											{{ v.subtitle|raw }}
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<div class="panel-body">
				По тегу <b>&laquo;{{ tag }}&raquo;</b> ничего не найдено.
			</div>
		{% endif %}
	</div>
{% endblock %}

{% set more_angular %}
    {% include 'components/gallery_load.twig' with {
        'grid_id': grid_id,
        'url': api ~ 'gallery/chunk',
        'params': { 'tag': tag, 'show_author': 'true' }
    } only %}
{% endset %}
